body {
    background-color: #858585;
}

table {
    width: 100%;
    border-radius: 20px;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    text-transform: uppercase; 
    background-color: #333333;
    padding: 10px;
}

th, td {
    width: 12%;
}

td {
    padding: 10px;
    vertical-align: top;
}

.corner-left {
    border-radius: 10px 0 0 0;
}

.corner-right {
    border-radius: 0 10px 0 0px;
}

.calendar {
    height: 150px;
    background-color: #515151;
}

.number {
    display: block;
    margin-bottom: 10px;
}

.event {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}


.singl-day {
    border-radius: 10px;
    text-align: center;
}

.event-start {
    text-align: right;
    margin-right: -50px;
}

.event-middle {
    text-align: center;
    margin-right: -20px;
    margin-left: -20px;
}

.event-end {
    margin-left: -20px;
    border-radius: 10px;
}


.green {
    background-color: #99FF99;
}

.red {
    background-color: #ff9999;
}

.blue {
    background-color: #85d6ff
}

.purpur {
    background-color: #DEBDFF;
}